*{
  font-family: 'Roboto', sans-serif;
}
.body{
  background-color: #000000;
  overflow: auto;
}
.body::-webkit-scrollbar{
  width: 0px;
}

#content{
  border: 1px solid #00FF00;
  text-align: center;
  width: fit-content;
  margin-top: 200px;
}
#status{
  color: #00FF00;
  font-size: 60px;
  cursor: progress;
  padding: 25px;
}
.coords{
  color: #00FF00;
  font-size: 60px;
  text-decoration: none;
  cursor: pointer;
  padding: 25px;
}
