*{
  font-family: 'Roboto', sans-serif;
}
.body{
  background-color: #151515;
  overflow: auto;
}
.body::-webkit-scrollbar{
  width: 0px;
}

#content{
  border: 1px solid #00FF00;
  text-align: left;
  width: fit-content;
  margin-top: 200px;
}
#status{
  color: #00FF00;
  font-size: 35px;
  cursor: progress;
  padding: 5px;
}
.coords{
  color: #00FF00;
  font-size: 35px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
}
